.info {
    margin: auto;
}

.info table {
    min-width: 200px;
    margin: auto;
    display: table;
    border-collapse: collapse;
    border: 1px grey solid;
}

.info tr {
    padding: 10px;
}

.info tr:nth-child(even) {
    background-color: lightgray;
}

.info th {
    background-color: gray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 5px;
    min-width: 100px;
    max-width: 200px;
}

.info td {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    min-width: 200px;
    max-width: 300px;
    padding: 5px;
}